@model DynamicDocs.Models.DocMeta
<div id="OfficeDocDiv" style="float: left; max-width: 1100px;">
    @if (@Model.CurrentDocSets!=null && @Model.CurrentDocSets.Item.Length >= 2)
    {
        <div id="tocTabs">
            <span>
                @foreach (DocSetsItem item in @Model.CurrentDocSets.Item)
                {
                    <h1 style="display:inline;"><a style="padding-right:20px;padding-left:20px;" href="">@item.Name</a></h1>
                }
            </span>
        </div>
    }
    @Html.Raw(@Model.InnerContent)
</div>
